// Colors
$blueGrey : #4e5456;
$blueGreyLight : #727678;
$greyBgResults : #e5e5e5;
$greyBgCard : #f1f1f1;
$fontColor : #373737;
$cyan : #50bebf;

// Size
$heightFilter : 250px;

// Padding
$spacingContainer : 5vw;